{% extends "choir/search.html" %}
{% load static %}

{% block content %}
    <h1>A szerzők névsorrendben és műveik</h1>
    <a href={% url "search" %} class="btn
	    btn-warning btn-lg" role="button">Keresek a művek között</a>
    <a href={% url "categories" %} class="btn
	    btn-warning btn-lg" role="button">Mutasd kategóriák szerint!</a>

    <table class="table">
        <thead>
            <tr>
                <th>Szerző</th><th>Darabok</th>
            </tr>
        </thead>

        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{author.get_bold_listed_name|safe}}</td><td>{{ author.piece_set.all| join:" &mdash; " }} </td>
            </tr>
        {%endfor%}
        </tbody>

    </table>
{% endblock content %}
