<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
   <meta charset="utf-8" http-equiv="X-UA-Compatible" />
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <title>Staccato énekegyüttes</title>


   <!--Bootstrap-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!--Custom CSS-->
   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <link rel="shortcut icon" href="https://staccato.hu/static/favicon.ico" type="image/vnd.microsoft.icon" />
</head>

<body role="document">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
			    data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'choir_details' %}"><img src="{% static 'img/staccato_logo.gif' %}" width="100pt" class="img-responsive"></a>
            </div>
            <div id="myNavbar" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">
                {% block navigation %}
                     <li><a href="{% url "choir_details" %}">{% if user.is_authenticated %}Tagok{% else %}Az énekkarról{% endif %}</a></li>
                     <li><a href="{% url "search" %}">Keresés</a></li>
                     <li><a href="{% url "categories" %}">Művek</a></li>
                     <li><a href="{% url "events" %}">Események</a></li>
                 {% if user.is_authenticated %}<li><a href="{% url "logout" %}" class="btn btn-warning btn-lg" role="button">Kijelentkezés</a><li><a href="{% url "admin:index" %}">Admin</a></li>
                 {% else %}
                 <li><a href="/admin/login/?next=/events/"  class="btn btn-warning btn-lg" role="button">Bejelentkezés</a></li>{% endif %}
                {% endblock navigation %}
                 </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = location.pathname;
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script-->
</body>
</html>
