{% extends "choir/base.html" %}
{% load static %}

{% block content %}
 <h1>A kórus repertoárja kategóriák szerint
	csoportosítva</h1>

 <p>Az adatbázisban {{piece_number}} mű található.</p>
    <a href={% url "search" %} class="btn
	    btn-warning btn-lg" role="button">Keresek a művek között</a>
    <a href={% url "authors" %} class="btn
	    btn-warning btn-lg" role="button">Mutasd szerzők szerint!</a>

 {% for category in categories %}
  <div class="event-box">
  <h2><b>{{category.category_name|capfirst}}</b> kategória</h2>
  <p>{{category.piece_set.count}} mű</p>
  <p>{%for piece in category.piece_set.all %}<a href="{% url 'piece_detail' piece.id %}">{% include "choir/includes/piece_name.html" %}</a>{% if not forloop.last %}&mdash;{% endif %}
  {%endfor%}</p>
  </div>
 {%endfor%}
{% endblock content %}
