{% extends "choir/base.html" %}
{% load static %}

{% block content %}
{% if not user.is_authenticated %}<div class="jumbotron">{{choir_intro|safe}}
</div>{% endif %}
<h2>A kórus {% if user.is_authenticated %}jelenlegi és korábbi{% endif %} tagjai</h2>
<h3>Karvezető{{leaders | length |pluralize:"k"}}</h3>
{% for member in leaders %}{% include "choir/includes/member_all.html" %}{%endfor%}
<h3 style="clear:both;">Kórustagok</h3>
{% for member in members %}{% include "choir/includes/member_all.html" %}{%endfor%}
{% if user.is_authenticated %}<h3 style="clear:both;">Korábbi kórustagok</h3>
  {% for member in earlier_members %}{% include "choir/includes/member_all.html" %}{%endfor%}
{% endif %}

{% if user.is_authenticated %}
<p style="clear: both;"><a href="{% url "show_all" %}" title="Karácsonyi versek" class="btn btn-warning btn-lg" role="button">Karácsonyi versek</a></p>

<h3 style="clear:both;padding:25px 0px;">Születésnapok és névnapok</h3>
{% for month in months %}<h4>{{month | title}}</h4>
{% for member in all_members %}{% if member.birth_month == forloop.parentloop.counter %}<p> {{member.birth_day}}. {{member.name}}
<span style="color:red">születésnapja</span></p>{%endif%}{%endfor%}
{% for member in all_members %}{% if member.name_month ==  forloop.parentloop.counter %}<p> {{member.name_day}}. {{member.name}}
<span style="color:blue">névnapja</span></p>{%endif%}{%endfor%}
{%endfor%}
{%endif%}
{% endblock content %}
