    {% extends "choir/base.html" %}
{% load static %}

{% block content %}

<div class="event-box">
 <h2>{{event.name}}</h2>

 <p>A darabok ABC-rendben vannak.</p>
 <p>{% if event.is_date_estimated %}nincs pontos dátum, nagyjából {{ event.date|date:"Y. F" }}{% else %}
     {{ event.date|date:"Y. F j. (l)" }} {% if event.time %}{{event.time}}{% endif %}{% endif %}</p>
    {% include "choir/includes/event_details_include.html" %}

    {% if event.image %}
        <img src="{{ event.image.url }}">
    {% endif %}
</div>
{% endblock content %}
