{% extends "choir/base.html" %}
{% load static %}

{% block content %}
<h1>Az események (koncertek) fordított időrendi sorrendben</h1>
Ha kottákat is szeretnéd látni, <a href="/admin/login/?next=/events/"  class="btn btn-warning btn-lg" role="button">jelentkezz be!</a>

{% for event in events %}
    {% if event.is_public %}
    <div class="event-box">
        <h2>{{event.name}}, {% include "choir/includes/date_time.html" %}</h2>
    {% if event.image %}
        <img src="{{ event.image.url }}">
    {% else %}
            {%for piece in  event.piece.all%}
                <p>{% include "choir/includes/piece_name.html" %}</p>
            {%endfor%}
    {% endif %}
    <a href="{%  url 'event_details' event.id %}" title="Részletek" class="btn btn-warning btn-lg" role="button">Esemény részletei</a>
    </div>
    {% endif %}
{%endfor%}
{% endblock content %}
