{% extends "choir/base.html" %}
{% load static %}

{% block content %}
<h1>Az események (koncertek) fordított időrendi sorrendben</h1>

<p>Az eseményeken belül a darabok ABC-rendben vannak.</p>

{% for event in events %}
    <div class="event-box">
     <h2>{{event.name}}</h2>
     <p>{% include "choir/includes/date_time.html" %}</p>
        {% if event.is_future_event %}{% include "choir/includes/event_details_include.html" %}{% endif %}
        <a href="{%  url 'event_details' event.id %}" title="Részletek" class="btn btn-warning btn-lg" role="button">Esemény részletei</a>
  </div>
{%endfor%}
{% endblock content %}
