{% extends "choir/base.html" %}
{% load static %}

{% block content %}
    <h1>{{ piece.title }}</b></h1>

{% if  piece.authorof_set.all %}
    <h2>Szerzők</h2>
{% for authorof in piece.authorof_set.all %}
    <p><b>{{ authorof.person.get_full_name }}</b>, {{authorof.get_type_display}}</p>
{%endfor%}
{% endif %}

{% if user.is_authenticated %}
    {% include "choir/includes/piece_info_for_members_only.html" %}
{% else %}
<p>Ha kottákat és szólamfelvételeket is szeretnéd látni, <a href="/admin/login/?next={{request.path}}"  class="btn btn-warning btn-lg" role="button">jelentkezz be!</a>
{% endif %}

<h2>Ezeken az eseményeken szerepelt vagy fog szerepelni</h2>

{% if piece.event_set.all %}
    {% for event in piece.event_set.all %}
      {% if user.is_authenticated or event.is_public %}
        <p>
            <a href="{%  url 'event_details' event.id %}" title="{{sheet.name}}" class="btn btn-warning btn-lg" role="button">Esemény részletei</a> {{event.name}},
            {% if event.is_date_estimated %}nincs pontos dátum, nagyjából {{ event.date|date:"Y. F j." }}{% else %} {{ event.date|date:"Y. F j. (l)" }} {% if event.time %}{{event.time}}{% endif %}{% endif %} {% include "choir/includes/recordings_directory_include.html" %}</p>
      {% endif %}
    {% endfor %}
{% else %}
    <p>Az adatbázis szerint még egyetlen eseményen sem énekeltük.</p>
{% endif %}
{% endblock content %}
