{% extends "choir/base.html" %}
{% load static %}

{% block content %}
    <p class="lead">Keresés</p>
    <div class="text-center">
      <h1>{% block header_title %}{% endblock %}</h1>

      <form method="POST" action="{% block form_action %}{% endblock %}">
        <input name="pattern" id="id_new_item" class="form-control
	input-lg" placeholder="Címben vagy szerzőnévben szereplő szavak részletei" autofocus/>
        {% csrf_token %}
      </form>
    </div>

    <p class="lead" style="margin-top:15px;">Segítség és tippek</p>
    <ul>
	<li><b style="color:red;">Kis és nagy betű nem számít.</b>
	<li><b style="color:red;">Ékezet nem számít.</b> <b>Példa:</b> Ha a Gøta című művet keresed, <b>gota</b> megtalálja. De kereshetsz szerző szerint is. <b>part</b> megtalálja az összes Pärt-darabot.
	<li>A kereső a beírt szavakat szóköz mentén részekre bontja, és mindegyiket keresi a címben és a szerzőben. Ha minden szórészlet megtalálható a címben vagy a szerző teljes nevében, akkor fogja felsorolni a találatot.
	<li>Kodály: Adventi énekét megtalálod így: <b>advent</b>
	<li>Whitacre: Alleluja művét megtalálod így: <b>whit alle</b>.  (Mindkét részletnek benne kell lennie, így nem találja meg a White Christmas-t)
	<li>Ha az <b>all</b> szövegre keresel, akkor megtalálja például az összes <b>All</b>eluiát, T<b>all</b>is műveit, és a V<b>all</b>on szerenádot. De a K<b>áll</b>ai kettőst is.
    </ul>

    <p class="lead">{{list_title}}</p>

    {% if pattern %}
    {% if pieces %}
        {% for piece in pieces %}
	<p>
	<a href={% url "piece_detail" piece.id %} class="btn
	    btn-warning btn-lg" role="button">Mű részletei</a>
	{% include "choir/includes/piece_name.html" %}</p>
        {%endfor%}
    {% else %}
	<p>Nem találtam illeszkedő művet. Remélem, módosított kereséssel megtalálod a keresett művet!</p>
    {% endif  %}
    {% endif  %}
{% endblock content %}
