{% extends "choir/base.html" %}
{% load static %}

{% block content %}
    <div class="text-left">
    <h1>Kotta feltöltése műhöz – <b>{{ piece.title }}</b></h1>

      <form method="POST" action="{% block form_action %}{% endblock %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Mehet">
      </form>
    </div>

    <p class="lead">{{list_title}}</p>

    {% if piece.sheet_set.count %}
	<p> A műhöz már tartozik legalább egy kotta: </p>
        {% for sheet in piece.sheet_set.all %}
	<p>
    <b>{{sheet.sheet.name}}</b> {{sheet.sheet.size|filesizeformat}}
	</p>
        {%endfor%}
    {% else %}
    {% endif  %}

{% endblock content %}
