{% extends "choir/base.html" %}
{% load static %}

{% block content %}
    <div class="text-left">
    <h1>Gyakorló hangfelvétel feltöltése – <b>{{ piece.title }}</b></h1>

    <p>Ide tartoznak a gyakrlásra szánt külső felvételek is (például
    Youtube-videóból kiszedett hangsávok is) csak ott a saját felvétel mező
    mellől ki kell venni a pipát.</p>

      <form method="POST" action="{% block form_action %}{% endblock %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Mehet">
      </form>
    </div>

    <p class="lead">{{list_title}}</p>

    {% if piece.practicingrecord_set.count %}
	<p> A műhöz már tartozik legalább egy gyakorló felvétel: </p>
        {% for record in piece.practicingrecord_set.all %}
	<p>
    <b>{{record.audio_file.name}}</b> {{record.audio_file.size|filesizeformat}},
    {% if record.own_record %} saját felvétel {% else %} külső felvétel{% endif %}
	</p>
        {%endfor%}
    {% else %}
    {% endif  %}

{% endblock content %}

