<p>Helyszín: {{ event.venue.name }}
     ({% if event.venue.zip_code%}{{event.venue.zip_code}} {%endif%}{{event.venue.telepules.name}}{% if event.venue.address%}, {{event.venue.address}}{%endif%})</p>
     {%for piece in  event.piece.all%}
         <p><a href="{% url 'piece_detail' piece.id %}" title="{{piece.title}}" class="btn btn-warning btn-lg" role="button">Részletek</a>
     {% if user.is_authenticated %}{{ piece.attachements|safe }}{%endif%}
     {% include "choir/includes/piece_name.html" %}</p>
     {%endfor%}

<p>{% include "choir/includes/recordings_directory_include.html" %}</p>
{% if event.comment and user.is_authenticated %}<h2>Megjegyzések:</h2>{{ event.markdown_formatted_comment|safe}}{% endif %}
