<p>{{ member.address }}</p>
<p>Születésnap: {{ member.get_birth_month_display }} {{ member.birth_day }}.</p>
<p>Névnap: {{ member.get_name_month_display }} {{ member.name_day }}.</p>
<p><span class="glyphicon glyphicon-envelope"></span> {{ member.email }}</p>
<p><span class="glyphicon glyphicon-phone"></span> {{ member.phone }}</p>
<p><a href="{% url "show_to_person" member.id %}" title="Karácsonyi versek" class="btn btn-warning btn-lg" role="button">Versek neki</a>&nbsp;<a href="{% url "show_author" member.id %}" title="Karácsonyi versek" class="btn btn-warning btn-lg" role="button">Tőle <span class="glyphicon glyphicon-tree-conifer"></a></p>
