<div class="well col-xs-12 col-sm-6 col-md-6 col-lg-4" style="margin-bottom:0px;font-size:120%;padding: 5px 15px;height:17em;border:solid white 5px"><p><b>{{ member.name }}</b> {{ member.get_part_display }}</p>{% if user.is_authenticated %}{% include "choir/includes/member_restricted.html" %}{% else %}{% include "choir/includes/member_public.html" %}{% endif %}</div>
