<h2>Kották</h2>
{% if piece.sheet_set.count %}
{%for sheet in piece.sheet_set.all%}<p><a href="{{sheet.sheet.url}}" title="{{sheet.sheet.name}}" class="btn btn-warning btn-lg" role="button">Kotta</a></p> {{sheet.markdown_formatted_comment |safe}}{%endfor%}
{% else %}
    <p>Nincs még kotta feltöltve ehhez a műhöz!</p>
{% endif %}

<a href="{% url "upload_sheet" piece.id %}" title="Új kotta feltöltése" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Kotta feltöltése</a>


<h2>Saját gyakorlófelvételek</h2>
{% if piece.get_own_records %}
<div class="container">
<div class="row">
{% for record in piece.get_own_records %}
  {% include "choir/includes/record_details.html" %}
{% endfor %}
</div>
</div>
{% else %}
    <p>Nincs még gyakorlófelvétel feltöltve ehhez a műhöz!</p>
{% endif %}

<a href="{% url "upload_practice_recording" piece.id %}" title="Új gyakorlófelvétel feltöltése" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Gyakorlófelvétel feltöltése</a>


<h2>Külső felvételek (pl. YouTube-ról lementett hang)</h2>
{% if piece.get_foreign_records %}
<div class="container">
<div class="row">
{% for record in piece.get_foreign_records %}
  {% include "choir/includes/record_details.html" %}
{% endfor %}
</div>
</div>
{% else %}
    <p>Nincs még külső felvétel feltöltve ehhez a műhöz!</p>
{% endif %}

<!-- Not used yet.
<h2>Ezek a koncertfelvételek vannak az adatbázisunkban</h2>

{% if piece.concertrecording_set.all %}
<div class="container">
<div class="row">
{% for record in piece.concertrecording_set.all %}
  {% include "choir/includes/concertrecord_details.html" %}
{% endfor %}
</div>
</div>
{% else %}
    <p>Nincs még koncertfelvétel feltöltve ehhez a műhöz!</p>
{% endif %}
-->

{% if piece.comment %}<h2>Megjegyzések</h2> {{ piece.markdown_formatted_comment|safe}}{% endif %}
