<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: 2px; background-color:#fee; padding: 5px 15px;">
<a href="{{record.audio_file.url}}" title="{{record.audio_file.name}}"
     class="btn btn-warning btn-lg"
 role="button">{{record.get_part_display.capitalize}}</a> {% if record.comment %}{{record.markdown_formatted_comment | safe}}{% endif %}
</div>

