{% extends "choir/base.html" %}
{% load static %}

{% block content %}
<h1>Karácsonyi versek</h1>

{% for poem in poems %}
    <div class="event-box">
     <p>{{poem.year}}  {{poem.author.name}} &#10233; {{poem.to.name}}</p>
<pre>
{{poem.poem}}
</pre>
{% if poem.file %}<p><a href="{{poem.file.url}}" title="{{poem.file.name}}" class="btn btn-warning btn-lg" role="button">Fájl</a></p>{%endif%}
  </div>
{%endfor%}
{% endblock content %}
