.navbar-default{
            background-color: #fbeeb5;
            font-size: 1.3em;
            font-family: Garamond;
        }


.event-box {
    background-color: #fbeeb5;
    border: solid 1px;
    padding: 0px 20px 20px 20px;
    margin: 12px;
}
